#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}




._div {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 600px;
  gap: 15px;
  background-color: cadetblue;
  padding: 20px;
}
